{{> html_public_header }}

    <div class="container">

        <div class="row">
            {{#each categories}}
                <div class="col-md-2 paddingTop15">
                    <button onClick="navigationGoTo('/categorie/{{this.name}}.html');" width="100%" type="button" class="btn btn-outline-info  btn-rounded waves-effect btn-block">{{i18n this.name}}</button>
                </div>
            {{/each}}
        </div>
        <br>
        {{#if parts}}
            {{#if filters}}
                <div class="row">
                    {{#each filters}}
                        <div class="col-md-3 paddingTop15">
                            {{i18n @key}} :
                            <select class="custom-select" multiple id="{{@key}}" onChange="filterChange('{{@key}}');">
                                <option selected value="">{{i18n "pas de filtre"}}</option>
                                {{#each this}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
            <br>
            <table class="table table-hover">
                <thead>
                    <tr id="partsTabHeader">
                        <th scope="col" id="#">#</th>
                        <th scope="col" id="designation">{{i18n "designation"}}</th>
                        {{#each filters}}
                            <th scope="col" id="{{@key}}">{{i18n @key}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody id="partsTabBody">
                    {{#each parts}}
                        <tr>
                            <th>{{this.product_reference}}</th>
                            <td>{{this.title}}</td>
                            {{#each ../filters}}
                                <td>{{lookup ../this @key}}</td>
                            {{/each}}
                        </tr>
                    {{/each}}
                </tbody>
 
            </table>

        {{/if}}
    </div> 

{{> html_public_footer}}